# Pandas Exercises

In this section, we'll use a netflix database that I have recently come across to do some exercises with Pandas.
https://www.kaggle.com/shivamb/netflix-shows

Dataset is already included in the folder. However, I have provided the link if anyone wants to have a look.

#### Starting with our imports as usual, numpy as np, pandas as pd and import DataFrame module from pandas:

In [2]:
import numpy as np
import pandas as pd

from pandas import DataFrame

#### 1. Read in the netflix dataset "data_netflix.csv" using read_csv:

In [3]:
df = pd.read_csv("data_netflix.csv")

#### 2. Have a look at the head of DataFrame:

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

#### 3. Get the general information about the DataFrame:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
show_id         6234 non-null int64
type            6234 non-null object
title           6234 non-null object
director        4265 non-null object
cast            5664 non-null object
country         5758 non-null object
date_added      6223 non-null object
release_year    6234 non-null int64
rating          6224 non-null object
duration        6234 non-null object
listed_in       6234 non-null object
description     6234 non-null object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

#### 4. Get index and column labels without using head():

#### index:

In [4]:
df.index

RangeIndex(start=0, stop=6234, step=1)

#### columns:

In [5]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

##### 5. Replace the column labels with the dictionary below (so that it looks a little nicer):

In [6]:
# Only replacing labels with '_'

new_columns = {'show_id':'Show ID','date_added':'Date added','release_year':'Release Year','listed_in':'Listed in'}

In [8]:
df.rename(columns=new_columns,inplace=True)
df.head()

,Show ID,type,title,director,cast,country,Date added,Release Year,rating,duration,Listed in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

#### 6. Find the item on  100. row:

In [9]:
df.iloc[100]

Show ID                                                  81132443
type                                                        Movie
title                                                    Deliha 2
director                                               Gupse Özay
cast            Gupse Özay, Eda Ece, Aksel Bonfil, Derya Alabo...
country                                                    Turkey
Date added                                     September 27, 2019
Release Year                                                 2018
rating                                                      TV-PG
duration                                                  102 min
Listed in                          Comedies, International Movies
description     While chasing her dream of becoming a chef, Ze...
Name: 100, dtype: object

##### 6.a Since we dont have index labels, what else could we use to get the same item ?

In [11]:
df.loc[100]

show_nu                                                    81132443
tip                                                           Movie
isim                                                       Deliha 2
yönetmen                                                 Gupse Özay
kadro             Gupse Özay, Eda Ece, Aksel Bonfil, Derya Alabo...
ülke                                                         Turkey
eklenme_tarihi                                   September 27, 2019
vizyon_tarihi                                                  2018
sinifi                                                        TV-PG
süre                                                        102 min
kategori                             Comedies, International Movies
aciklama          While chasing her dream of becoming a chef, Ze...
Name: 100, dtype: object

#### 7. Select "title,director, Listed in,duration" columns in the DataFrame:

In [10]:
df[['title','director','Listed in','duration']]

,title,director,Listed in,duration
0,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Children & Family Movies, Comedies",90 min
1,Jandino: Whatever it Takes,NaN,Stand-Up Comedy,94 min
2,Transformers Prime,NaN,Kids' TV,1 Season
3,Transformers: Robots in Disguise,NaN,Kids' TV,1 Season
4,#realityhigh,Fernando Lebrija,Comedies,99 min
...,...,...,...,...
6229,Red vs. Blue,NaN,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",13 Seasons
6230,Maron,NaN,TV Comedies,4 Seasons
6231,Little Baby Bum: Nursery Rhyme Friends,NaN,Movies,60 min
6232,A Young Doctor's Notebook and Other Stories,NaN,"British TV Shows, TV Comedies, TV Dramas",2 Seasons
6233,Friends,NaN,"Classic & Cult TV, TV Comedies",10 Seasons

#### Unfortunately, there are no IMDB ratings in the dataset :(

##### We'll create a random array from 0 to 10 which has the same size to insert into the DataFrame as 'IMDB rating' 
     Important: because we are using a random array, there is actually no correct result to the tasks involving IMDB rating.                     Everyone will see different ratings.

##### Feel free to run the line below to generate the IMDB ratings:

In [13]:
IMDB = np.random.uniform(low=0, high=10, size=len(df['title']))
IMDB = np.around(IMDB,decimals = 1)

#### 8. Insert the random ratings we created as a new column into the DataFrame and name it 'IMDB rating':

In [14]:
df['IMDB rating'] = IMDB 
df.head()

,Show ID,type,title,director,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.4
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,1.7
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",7.3
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.8
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,0.1

#### 9. Delete the director column using del:

In [15]:
del df['director']
df.head()

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.4
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,1.7
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",7.3
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.8
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,0.1

#### 10. Drop the 'Date added' column:

In [16]:
df.drop('eklenme_tarihi',axis=1)

,show_nu,tip,isim,kadro,ülke,vizyon_tarihi,sinifi,süre,kategori,aciklama,IMDB_puan
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,5.3
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,7.7
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",5.3
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,6.0
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.1
...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",7.5
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",5.2
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,5.7
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",8.5
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,3.5

##### 11. Get max, min, and mean of the 'IMDB rating' using agg():

In [17]:
df['IMDB_puan'].agg(['max','min','mean'])

max     9.200000
min     3.000000
mean    6.108502
Name: IMDB_puan, dtype: float64

#### 12. Find how many items have 10 IMDB rating  (Hint: use logical masking):

In [18]:
df[df['IMDB rating'] == 10].count()

Show ID         21
type            21
title           21
cast            21
country         20
Date added      21
Release Year    21
rating          21
duration        21
Listed in       21
description     21
IMDB rating     21
dtype: int64

#### 13. Find items with 10 IMDB rating and display only their titles:

In [19]:
df[df['IMDB rating'] == 10]['title']

21                              Moonwalkers
256                     Behind the Newsroom
706                               OtherLife
1371                                   Gigi
1413                          The Brave One
1453                     Dhoondte Reh Jaoge
1840                CIA: Comrade in America
2488                               The Maus
2612                           The Incident
2774                          Diamond Lover
3209                     Chaotic Love Poems
3753    Kevin Hart's Guide to Black History
3830                                  Jonas
4558                        Heaven's Garden
5048                            The Package
5090                 Doubles Cause Troubles
5258                         Teen Aur Aadha
5433                           Arctic Heart
5673                                   Baby
5862                               Robozuna
5902                          Dinosaur King
Name: title, dtype: object

#### 14. Sort the items according to their IMDB rating (descending):

In [20]:
df.sort_values(by='IMDB rating',ascending=False)

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
706,80190841,Movie,OtherLife,"Jessica De Gouw, T.J. Power, Thomas Cocquerel,...","Australia, United Arab Emirates","October 15, 2017",2017,TV-MA,96 min,"Dramas, Independent Movies, International Movies",After inventing a drug that induces time-compr...,10.0
3753,80231156,Movie,Kevin Hart's Guide to Black History,"Kevin Hart, Saniyya Sidney, Lil Rel Howery, Eo...",United States,"February 8, 2019",2019,TV-PG,63 min,"Children & Family Movies, Comedies",Kevin Hart highlights the fascinating contribu...,10.0
256,80243899,TV Show,Behind the Newsroom,"Pok Piyatida Woramusik, Willie Ruengrit McInto...",NaN,"September 14, 2018",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Confident and cool under pressure, top news pr...",10.0
1413,70060000,Movie,The Brave One,"Jodie Foster, Terrence Howard, Naveen Andrews,...",United States,"November 1, 2019",2007,R,122 min,"Dramas, Thrillers",New York City radio host Erica Bain decides to...,10.0
5673,80211634,TV Show,Baby,"Benedetta Porcaroli, Alice Pagani, Riccardo Ma...",Italy,"October 18, 2019",2019,TV-MA,2 Seasons,"International TV Shows, TV Dramas, Teen TV Shows","Fed up with their families and classmates, two...",10.0
...,...,...,...,...,...,...,...,...,...,...,...,...
579,70114484,Movie,The Rainbow Troops,"Cut Mini Theo, Ikranagara, Lukman Sardi, Ario ...",Indonesia,"October 21, 2018",2008,TV-PG,119 min,"Children & Family Movies, Dramas, Internationa...",Two Indonesian teachers embrace an inspiring c...,0.0
2587,81027187,Movie,The Wolf's Call,"François Civil, Omar Sy, Mathieu Kassovitz, Re...",France,"June 20, 2019",2019,TV-14,116 min,"Dramas, International Movies, Thrillers","With nuclear war looming, a military expert in...",0.0
2601,80133117,TV Show,Crashing,"Phoebe Waller-Bridge, Jonathan Bailey, Adrian ...",United Kingdom,"June 2, 2017",2016,TV-MA,1 Season,"British TV Shows, International TV Shows, Roma...","In exchange for low rent, a hodgepodge group o...",0.0
6209,70264078,TV Show,Mr. Young,"Brendan Meyer, Matreya Fedor, Gig Morton, Kurt...",Canada,"April 16, 2019",2013,TV-G,2 Seasons,"Kids' TV, TV Comedies","After Adam graduates from college at age 14, h...",0.0
1405,923574,Movie,Rumble in the Bronx,"Jackie Chan, Anita Mui, Françoise Yip, Bill Tu...",Hong Kong,"November 1, 2019",1995,R,89 min,"Action & Adventure, Comedies, International Mo...",During a visit to the Bronx to help out at his...,0.0

#### 15. Get a statistical description of the 'IMDB rating' column:

In [22]:
df['IMDB_puan'].describe()

count    6234.000000
mean        6.108502
std         1.797140
min         3.000000
25%         4.600000
50%         6.100000
75%         7.600000
max         9.200000
Name: IMDB_puan, dtype: float64

#### 16. Get the items with IMDB rating bigger than 8.0 and with country as Spain:

In [21]:
df[(df['IMDB rating']>8) & (df['country']=='Spain')]

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
5,80163890,TV Show,Apaches,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...,8.9
417,80103426,Movie,We Need to Talk,"Hugo Silva, Michelle Jenner, Ernesto Sevilla, ...",Spain,"September 1, 2016",2016,TV-MA,91 min,"Comedies, International Movies, Romantic Movies","A happy woman's new love is going great, but s...",8.2
1272,80183187,Movie,Klaus,"Jason Schwartzman, J.K. Simmons, Rashida Jones...",Spain,"November 15, 2019",2019,PG,98 min,"Children & Family Movies, Comedies",A selfish postman and a reclusive toymaker for...,8.9
1535,80093212,Movie,Spanish Affair 2,"Dani Rovira, Clara Lago, Karra Elejalde, Carme...",Spain,"November 1, 2016",2015,NR,107 min,"Comedies, International Movies, Romantic Movies",Spanish provincialism is put into the spotligh...,9.7
1624,81031939,Movie,Despite Everything,"Blanca Suárez, Macarena García, Amaia Salamanc...",Spain,"May 3, 2019",2019,TV-MA,79 min,"Comedies, International Movies, Romantic Movies","After their mother's death, four sisters learn...",8.7
1645,80202903,Movie,Sara's Notebook,"Belén Rueda, Marian Álvarez, Iván Mendes, Mano...",Spain,"May 26, 2018",2018,TV-MA,117 min,"Dramas, International Movies, Thrillers",A naive Madrid lawyer travels to Africa to sea...,9.0
1713,81077863,Movie,Born in Gaza,NaN,Spain,"May 17, 2019",2014,TV-14,70 min,"Documentaries, International Movies",This documentary focuses on the devastating vi...,9.6
2426,80093127,Movie,Retribution,"Luis Tosar, Javier Gutiérrez, Elvira Mínguez, ...",Spain,"March 1, 2016",2015,NR,100 min,"International Movies, Thrillers",A dishonest banker pays the ultimate price for...,9.3
2488,80109341,Movie,The Maus,"Alma Terzic, August Wittgenstein, Aleksandar S...",Spain,"June 30, 2018",2017,TV-MA,90 min,"Horror Movies, Independent Movies, Internation...","While traveling with her German boyfriend, Sel...",10.0
2489,80127764,Movie,Footprints: The Path of Your Life,NaN,Spain,"June 30, 2017",2015,PG,90 min,"Documentaries, Faith & Spirituality, Internati...",This documentary follows 10 men who agree to w...,8.6
2876,80232989,Movie,The Warning,"Raúl Arévalo, Aura Garrido, Hugo Arbues, Belén...",Spain,"July 24, 2018",2018,TV-MA,93 min,"International Movies, Thrillers","After his friend is shot, Jon finds a mathemat...",8.3
3001,80221109,Movie,4L,"Jean Reno, Hovik Keuchkerian, Susana Abaitua, ...",Spain,"July 12, 2019",2019,TV-MA,105 min,"Comedies, Dramas, Independent Movies","Hoping to reunite with a dying friend, two lon...",8.5
3155,80093106,Movie,The Invisible Guest,"Mario Casas, Ana Wagener, José Coronado, Bárba...",Spain,"July 1, 2017",2016,TV-14,106 min,"International Movies, Thrillers",After waking next to his now-dead lover in a h...,8.1
5184,80160972,Movie,El fin de ETA,NaN,Spain,"April 8, 2017",2017,TV-14,106 min,"Documentaries, International Movies",This documentary chronicles the decade-long pr...,8.9
5440,81018120,Movie,Who Would You Take to a Deserted Island?,"María Pedraza, Jaime Lorente, Pol Monen, Andre...",Spain,"April 13, 2019",2019,TV-MA,94 min,"Dramas, International Movies","On their last night together, four longtime fl...",8.6
5912,80227798,TV Show,El desconocido,"Guillermo Iván, César Manjarrez, Estrella Solí...",Spain,"June 14, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...","Based on real events, the fictional story of M...",9.7

#### Sirasi ile verideki en eski vizyon tarihini, bunun hangi satirda oldugunu ve satir numarasini kullanarak film/diziyi bulalim:
#### 17. Get, respectively:
####       the oldest 'Release Year' in the DataFrame
####       the index of item with oldest 'Release Year'
####       the item with oldest 'Release Year'

In [22]:
df['Release Year'].min() #oldest release year

1925

In [23]:
df['Release Year'].idxmin() #index of item with oldest release year

4292

In [24]:
df.iloc[4292]    #the item itself with oldest release year

Show ID                                                  81030762
type                                                      TV Show
title                           Pioneers: First Women Filmmakers*
cast                                                          NaN
country                                                       NaN
Date added                                      December 30, 2018
Release Year                                                 1925
rating                                                      TV-PG
duration                                                 1 Season
Listed in                                                TV Shows
description     This collection restores films from women who ...
IMDB rating                                                   5.1
Name: 4292, dtype: object

#### 18. Get the missing values:

In [27]:
df.isnull()

,show_nu,tip,isim,kadro,ülke,eklenme_tarihi,vizyon_tarihi,sinifi,süre,kategori,aciklama,IMDB_puan
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,False,False,False,False,False,True,False,False,False,False,False,False
6230,False,False,False,False,False,True,False,False,False,False,False,False
6231,False,False,False,True,True,True,False,True,False,False,False,False
6232,False,False,False,False,False,True,False,False,False,False,False,False
6233,False,False,False,False,False,True,False,False,False,False,False,False

#### 19. Which items have missing values in any of the columns (Hint: use logical masking, do not forget the previous step returned booleans in the DataFrame)?

In [28]:
df[df.isnull().any(axis=1)]

,show_nu,tip,isim,kadro,ülke,eklenme_tarihi,vizyon_tarihi,sinifi,süre,kategori,aciklama,IMDB_puan
8,80117902,TV Show,Fire Chasers,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ...",3.7
10,80169755,Movie,Joaquín Reyes: Una y no más,Joaquín Reyes,NaN,"September 8, 2017",2017,TV-MA,78 min,Stand-Up Comedy,Comedian and celebrity impersonator Joaquín Re...,5.4
12,80182480,Movie,Krish Trish and Baltiboy,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2009,TV-Y7,58 min,Children & Family Movies,"A team of minstrels, including a monkey, cat a...",5.3
13,80182483,Movie,Krish Trish and Baltiboy: Battle of Wits,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,62 min,Children & Family Movies,"An artisan is cheated of his payment, a lion o...",6.5
14,80182596,Movie,Krish Trish and Baltiboy: Best Friends Forever,"Damandeep Singh Baggan, Smita Malhotra, Deepak...",NaN,"September 8, 2017",2016,TV-Y,65 min,Children & Family Movies,"A cat, monkey and donkey team up to narrate fo...",6.3
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",7.5
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",5.2
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,5.7
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",8.5
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,3.5

#### 20. Drop items which have missing values in any of the columns:

In [29]:
df.dropna()

,show_nu,tip,isim,kadro,ülke,eklenme_tarihi,vizyon_tarihi,sinifi,süre,kategori,aciklama,IMDB_puan
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,5.3
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,7.7
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",5.3
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,6.0
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...
6218,80162994,TV Show,Talking Tom and Friends,"Colin Hanks, Tom Kenny, James Adomian, Lisa Sc...","Cyprus, Austria, Thailand","April 10, 2019",2017,TV-G,2 Seasons,"Kids' TV, TV Comedies",Full of funny one-liners and always ready for ...,4.7
6219,80186475,TV Show,Pokémon the Series,"Sarah Natochenny, Laurie Hymes, Jessica Paquet...",Japan,"April 1, 2019",2019,TV-Y7-FV,2 Seasons,"Anime Series, Kids' TV",Ash and his Pikachu travel to the Alola region...,7.6
6220,70272742,TV Show,Justin Time,"Gage Munroe, Scott McCord, Jenna Warren",Canada,"April 1, 2016",2012,TV-Y,2 Seasons,Kids' TV,"In Justin's dreams, he and his imaginary frien...",8.8
6221,80067942,TV Show,Terrace House: Boys & Girls in the City,"You, Reina Triendl, Ryota Yamasato, Yoshimi To...",Japan,"April 1, 2016",2016,TV-14,2 Seasons,"International TV Shows, Reality TV",A new set of six men and women start their liv...,8.2
6222,70136122,TV Show,Weeds,"Mary-Louise Parker, Hunter Parrish, Alexander ...",United States,"April 1, 2014",2012,TV-MA,8 Seasons,"TV Comedies, TV Dramas",A suburban mother starts selling marijuana to ...,3.0

#### 21. Drop items which do not have minimum 10 valid (not missing) values:

In [26]:
df.dropna(thresh=10)

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.4
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,1.7
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",7.3
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.8
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80159925,TV Show,Kikoriki,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...,4.1
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",0.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",1.5
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,2.8

#### 22. Replace missing values with 'not available':

In [25]:
df.fillna(value='not available')

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.4
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,1.7
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",7.3
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.8
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,not available,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",0.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,not available,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,not available,not available,not available,2016,not available,60 min,Movies,Nursery rhymes and original music for children...,8.2
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,not available,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",1.5
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,not available,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,2.8

#### 23. Fill the missing values in a way that they will take the value from the previous row/item:

In [27]:
df.fillna(method='ffill')

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.4
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,1.7
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",7.3
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.8
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,"April 1, 2014",2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",0.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,"April 1, 2014",2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,"April 1, 2014",2016,TV-MA,60 min,Movies,Nursery rhymes and original music for children...,8.2
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,"April 1, 2014",2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",1.5
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,"April 1, 2014",2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,2.8

#### 24. Pivot the DataFrame in a way that 'Show ID' will be the index and 'type' contents will be the columns and duration will be the values:

In [29]:
df.pivot('Show ID','type','duration')

type        Movie    TV Show
Show ID
247747    172 min        NaN
269880    119 min        NaN
281550    109 min        NaN
284890    166 min        NaN
292118     81 min        NaN
...           ...        ...
81224868      NaN  2 Seasons
81227195  107 min        NaN
81228864  102 min        NaN
81235603      NaN   1 Season
81235729   86 min        NaN

[6234 rows x 2 columns]

#### 25. Replace United States with US and United Kingdom with UK in the country column:

In [30]:
df.replace({'country':{'United States':'US','United Kingdom': 'UK'}})

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.4
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,UK,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,1.7
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",US,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",7.3
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",US,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.8
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",US,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",US,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",0.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",US,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,8.2
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",UK,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",1.5
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",US,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,2.8

#### 26. Group the 'IMDB rating' column by 'Listed in' column (groupby) and assign it the group variable:

In [31]:
group = df['IMDB rating'].groupby(df['Listed in'])

#### 26.a Using the group variable we just created, show which 'Listed in' content has how many IMDB ratings in total (Hint: calling agg functions on the group object):

In [32]:
group.sum()

Listed in
Action & Adventure                                              349.7
Action & Adventure, Anime Features, Children & Family Movies      0.6
Action & Adventure, Anime Features, Classic Movies                1.7
Action & Adventure, Anime Features, Horror Movies                 5.9
Action & Adventure, Anime Features, International Movies         94.5
                                                                ...
TV Horror, TV Mysteries, Teen TV Shows                            2.6
TV Horror, Teen TV Shows                                          1.2
TV Sci-Fi & Fantasy, TV Thrillers                                 7.2
TV Shows                                                         60.0
Thrillers                                                       204.6
Name: IMDB rating, Length: 461, dtype: float64

#### 27. Define a function which halves the variable it gets passed onto and returns the result:

In [34]:
def get_half(x):          # define the function
    return x/2.0

#### 27a. Apply the function we defined to the 'IMDB rating' column:

In [35]:
df['IMDB rating'].apply(get_half)

0       1.20
1       0.85
2       3.65
3       0.90
4       0.05
        ...
6229    0.05
6230    1.30
6231    4.10
6232    0.75
6233    1.40
Name: IMDB rating, Length: 6234, dtype: float64